<main id="section-login">
  <div class="colunm_1">
    <h1 class="login-title">Olá,</h1>
    <p class="login-description">Para continuar navegando de forma segura,
      efetue o login na rede</p>
    <form class="login-form">
      <h2 class="form-title">Login</h2>

      <input type="text" placeholder="Usuário" class="user">
      <span class="user-icon"></span>

      <input type="password" placeholder="Senha" class="password">
      <span class="user-password-icon"></span>

      <button class="btn-submit" type="submit">Continuar</button>
    </form>
  </div>
  <div class="colunm_2">
    <img src="../../assets/img/Logo-Compasso-Branco-hor 1.png" alt="Logo Compasso Branco" class="logo">
    <img src="../../assets/img/CompassoBackground.png" class="background-compass">
  </div>
</main>
