
$cor-primaria : #FFF;
$cor-secundaria-gelo: #E0E0E0;
$cor-primaria-vermelho : #C12D18;
$cor-primaria-amarelo : #E9B425;
$cor-primaria-bege : #E29933;
$cor-primaria-preto : #000000;
$cor-secundaria : #222222;
$cor-gradiente-1 : linear-gradient($cor-primaria-vermelho,$cor-primaria-bege,$cor-primaria-amarelo);
$cor-gradiente-preto : linear-gradient(#33383D,#1C1D20);
$cor-gradiente-vermelho : linear-gradient(90deg, #FF2D04 0% ,#C13216 100%);

*, html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Mark Pro';
}

#section-login{
  display: flex;
  grid-template-columns: 1fr 1fr;
  .colunm_1{
     height: 100vh;
    width: 45.5%;
    margin: 0;
    background-image: linear-gradient(#33383D,#1C1D20);

    .login-title{
      font-family: 'Mark Pro';
      margin-top: 3.3em;
      margin-left: 31%;
      color: $cor-primaria;
      font-weight: 400;
      font-size: 60px;
    }
    .login-description {
      margin-left: 10vh;
      color: $cor-primaria;
      font-weight: 400;
      font-size: 1rem ;
      width: 35%;
      margin-left: 16.9em;

    }

    .login-form {
      display: flex;
      flex-wrap: wrap;
      .user-icon {
        margin-top: 2em;
        margin-left: 2.2em;
      }
      .user-password-icon{
        margin-top: 2em;
        margin-left: 3em;

      }
      .inside-user-icon{

        margin-top: 3em;
        margin-left: -3em;
      }
      .inside-passord-icon {
        margin-top: 3em;
        margin-left: -3em;
      }

      input{
        width: 48%;
        height: 60px;
        padding-left: 20px;
        border-radius: 50px;
        margin-top: 1.95em;
        margin-left:31%;
        background-color: #26292C;
        border: solid 0.5px #FFF;
        color: white;
        &::placeholder{
          color: $cor-secundaria-gelo;

        }


      }
       .validator-error{
        font-size: 1em;;
        color : $cor-primaria-bege;
        font-weight: 700;
        margin-left: 31%;
        width: 30%;
        text-align: center;
        margin-top: 1.75em;
        margin-left: 20.8em;
       }



      .user+span::before{

        content:url('../../assets/img/icon-user.svg');
      }

      .password+span::before{

        content:url('../../assets/img/icon-password.svg');

      }
      .form-title{
        margin-top: 4.5em;
        font-size: 30px;
        margin-left: 9em;
        color: $cor-primaria

      }
      .btn-submit {
        display: block;
        margin-top: 7.18em;
        margin-left: 16.5em;
        border: none;
        box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        background-image: $cor-gradiente-vermelho;
        padding-left: 20px;
        width: 48%;
        height: 60px;
        color: white;
      }
    }
  }
  .colunm_2{
    width: 54.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/img/image 2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    .logo {
      width: 30%;
    }

  }
}

@media (min-width: 375px) and (max-width: 940px)  {

}



