<main id="section-login">
  <div class="colunm_1">
    <p class="login-title">Olá,</p>
    <p class="login-description">
      Para continuar navegando de forma segura, efetue o login na rede
    </p>
    <form
      class="login-form"
      (ngSubmit)="submit()"
      [formGroup]="loginForm"
      #formDir="ngForm"
    >
      <h2 class="form-title">Login</h2>
        <input
          type="text"
          placeholder="Usuário"
          class="user"
          formControlName="usuario"
          required
          (change)="isFull = true"
          (change)="isFull2 = false"
          (blur)="
            isFull =
              this.loginForm.value.userName || this.loginForm.value.senha
                ? true
                : false
          "
          (blur)="
            isFull2 =
              this.loginForm.value.userName || this.loginForm.value.senha
                ? false
                : true
          "
          (focus)="isFull = true"
          (focus)="isFull2 = false"
        />
        <span class="inside-user-icon" [@moveIconInside]="isFull2 ? 'leave' : 'enter'"></span>
      <img src="../../assets/img/icon-user.svg" class="user-icon" [@moveIcon]="isFull ? 'enter' : 'leave'"/>
        <input
          type="password"
          placeholder="Senha"
          class="password"
          formControlName="senha"
          required
          (change)="isFull = true"
          (change)="isFull2 = true"
          (blur)="
            isFull =
              this.loginForm.value.userName || this.loginForm.value.senha
                ? true
                : false
          "
          (blur)="
            isFull2 =
              this.loginForm.value.userName || this.loginForm.value.senha
                ? false
                : true
          "
          (focus)="isFull = true"
          (focus)="isFull2 = false"
        />
        <span class="inside-passord-icon" [@moveIconInside]="isFull2 ? 'leave' : 'enter'"></span>
      <img src="../../assets/img/icon-password.svg"
        class="user-password-icon"
        [@moveIcon]="isFull ? 'enter' : 'leave'"
      />

      <div
        class="validator-error"
        *ngIf="
      loginForm.get('usuario')?.errors?.['minlength']  && loginForm.get('usuario')?.touched ||
      loginForm.get('senha')?.errors?.['minlength'] ||  loginForm.get('senha')?.errors?.['pattern'] && senha.touched ">
        <p>Ops, usuário ou senha inválidos. Tente Novamente!</p>
      </div>

      <input class="btn-submit" type="submit" [disabled]="loginForm.invalid" value="continuar"/>
      <p> Não possui conta?<a [routerLink]="['/signUp']"> Cadastre-se</a> </p>
    </form>
  </div>
  <div class="colunm_2">
    <img
      src="../../assets/img/Logo-Compasso-Branco-hor 1.svg"
      alt="Logo Compasso Branco"
      class="logo"
    />
  </div>
</main>
