
<section id="section-signUp">
  <div class="colunm_1">
    <p class="login-title">Olá,</p>
    <p class="login-description">
      Não possui conta? Cadastre-se para continuar
    </p>
    <form class="login-form" (ngSubmit)="submit()" [formGroup]="SignForm">
      <h2 class="form-title">Cadastro</h2>
      <div class="">
        <input type="text" placeholder="e-mail" class="input-form" formControlName="usuario">
      </div>
      <div>
        <input type="text"  placeholder="Senha" class="input-form"/>
      </div>
      <div>
        <input type="text" placeholder="Confirme a senha" class="input-form"/>
      </div>
      <div>
        <input type="submit" value="cadastrar" class="btn-submit">
      </div>
    </form>
  </div>

  <div class="colunm_2">
    <img
    src="../../assets/img/Logo-Compasso-Branco-hor 1.svg"
    alt="Logo Compasso Branco"
    class="logo"
  />
  </div>
</section>
