
<section id="section-signUp">
  <div class="colunm_1">
    <form class="login-form">
      <div class="">
        <input type="text" placeholder="usuario" class="user" >
      </div>
      <div>
        <input type="text"  placeholder="Senha" class="user"/>
      </div>
      <div>
        <input type="text" placeholder="Confirme a senha" class="user"/>
      </div>
    </form>
  </div>

  <div class="colunm_2">
    <img
    src="../../assets/img/Logo-Compasso-Branco-hor 1.svg"
    alt="Logo Compasso Branco"
    class="logo"
  />
  </div>
</section>
