<section class="home-section">
  <header class="head">
    <img src="../../assets/img/LogoCompassoPreto.png" alt="" class="compass-logo-header">
    <p>Data</p>
    <p>localização e temperatura</p>
  </header>
  <main class="content">
    <img src="../../assets/img/bola-LogoCompasso 1.png" alt="" class="compass-logo">
    <div class="box">
      <div class="box-child">
        <h3>Our misson is</h3>
        <small>Nossa missão é</small>
      </div>
      <div class="box-child">
        <h2>to transform the world</h2>
        <small>transformar o mundo</small>
      </div>
      <div class="box-child">
        <h2>building digital experiences</h2>
        <small>construindo experiências digitais</small>
      </div>
      <div class="box-child">
        <h2>that enable our client's growth</h2>
        <small>que permitam o crescimento dos nossos clientes</small>
      </div>
    </div>
  </main>
  <footer class="footer">
    <small>Essa janela do navegador é usada para manter sua sessão de autenticação ativa. Deixe-a aberta em segundo plano e abra uma nova janela para continuar a navegar</small>

  </footer>
</section>

